version: '3'
services:
  db:
    build:
      context: ./db/
      dockerfile: Dockerfile
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    restart: always
    ports:
      - "3306:3306"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: app
    ports:
      - "8080:8080"
    depends_on:
      - db
